.row{
    display: flex;
}

.box {
    border-radius: 20px;
    background-color: #F9F9F8;
    margin: 10px;
    padding: 25px;
    box-shadow: 2px 2px 2px lightgrey;
}

.box_comment {
    border-radius: 20px;
    background-color: #d4f5c29a;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 2px lightgrey;
    font-size: small;
    text-align: center;
    font-family: system-ui;
}

.box_emissions{
    border-radius: 20px;
    background-color: #e9a8538e;    
    margin: 2px;
    box-shadow: 2px 2px 2px lightgrey;
    justify-content: center;
    width: 50%;
    text-align: center;
}

.pretty_container {
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}

.flex-display {
    display: flex;
}

.btn-excel {
    margin: 20px 20px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.button-header {
    background-color: white;
    border: none;
    color: #192f67;
    margin: 0 15px 0 15px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-header-current {
    background-color: #192f67;
    border: none;
    color: white;
    margin: 0 15px 0 15px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-header:hover,
.button-header-current:hover {
    background-color: #192f67;
    color: white;
    cursor:pointer;
}

h2, h3 {
    color: midnightblue
}